@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* webkit-font-smoothing: antialiased; */
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--dark);
  /* height: 650px; */
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 85%, 0 100%);
}

header .container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.container nav {
  padding: 2rem 0;
}

.container nav .branding {
  margin-right: 3rem;
}

.container nav .left a {
  text-decoration: none;
  color: var(--pure);
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.container nav .left a:hover {
  color: var(--primary);
}

.hero {
  padding-bottom: 6.5rem;
}

.hero .left img {
  width: 250px;
  /* margin-right: 9rem; */
  margin-left: 120px;
}

.hero .right {
  color: var(--pure);
  margin-top: -5rem;
}

.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right p {
  line-height: 1.7;
  margin-bottom: 1rem;
}
