@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "utilities.css";

:root {
  --primary: #3dcfd3;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  /* webkit-font-smoothing: antialiased; */
  font-family: "Poppins", sans-serif;
}

header {
  background-color: var(--dark);
  height: 500px;
}

header .container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.container nav {
  padding: 2rem 0;
}

.container nav .branding {
  margin-right: 3rem;
}

.container nav .left a {
  text-decoration: none;
  color: var(--pure);
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.container nav .left a:hover {
  color: var(--primary);
}
